#─────────────────────────────────────────────────────────────────
# Directories hierarchy
#─────────────────────────────────────────────────────────────────
# Directories names
[names]
bak=grenier
bittorrent=torrents
chess=794_echecs
db=bases
doc=bibliotheque
emule=mule
sys=garage
etc=confz
games=jeux
img=galerie
medias=salon
musics=musique
mydoc=bureau
mysrc=atelier
photos=album
net=hall
videos=cinema
sex=boudoir

# Tree
[nodes]
# first level
root=bak,doc,sys,img,net,medias,mydoc,mysrc,sex
light=etc,src

# second level
net=web,p2p,src,mail
medias=musics,videos,games,photos
doc=chess
sys=etc

# third level
p2p=emule,bittorrent

# Local specific
[local]
ignore=doc,src,db,musics,videos,games
root_name=maison
root_location=/home/ludo

#─────────────────────────────────────────────────────────────────
# Various sources
#─────────────────────────────────────────────────────────────────
[src]
auto-fu.zsh=git://github.com/ludovig/auto-fu.zsh.git
initializor=git://github.com/ludovig/initializor.git
confz=git://github.com/ludovig/confz.git
[src_destination]
auto-fu.zsh=sys
initializor=sys
confz=sys

#─────────────────────────────────────────────────────────────────
# Links
#─────────────────────────────────────────────────────────────────
[links]
# zsh
zsh/zshalias=$HOME/.zshalias
zsh/zshenv=$HOME/.zshenv
zsh/zshcompsys=$HOME/.zshcompsys
zsh/functions=$HOME/.zshfunctions
zsh/zshoptions=$HOME/.zshoptions
zsh/zshparam=$HOME/.zshparam
zsh/zshprompt=$HOME/.zshprompt
zsh/zshrc=$HOME/.zshrc
zsh/zshzle=$HOME/.zshzle
[links_location]
zsh=etc

#─────────────────────────────────────────────────────────────────
# Externals
#─────────────────────────────────────────────────────────────────
[install]
initializor
[paths_file]
paths_file=$HOME/.zshpaths
[initializor]
bookmarks_file=$HOME/.zshbookmarks
