#─────────────────────────────────────────────────────────────────
# Directories hierarchy
#─────────────────────────────────────────────────────────────────
# Directories names
[names]
mysrc=atelier
doc=bibliotheque
sex=boudoir
mydoc=bureau
sys=garage
bak=grenier
net=hall
img=galerie
medias=salon
chess=794_echecs
photos=album
videos=cinema
games=jeux
musics=musique
db=bases
etc=confz
bittorrent=torrents
emule=mule
src=sources

# Tree
[nodes]
# first level
root=bak,doc,sys,img,net,medias,mydoc,mysrc,sex
light=etc,src

# second level
net=web,p2p,mail
medias=musics,videos,games,photos
doc=chess
sys=etc,src

# third level
p2p=emule,bittorrent

# Local specific
[local]
ignore=doc,src,db,musics,videos,games
root_name=maison
root_location=/home/ludo

#─────────────────────────────────────────────────────────────────
# Links
#─────────────────────────────────────────────────────────────────
[links]
# awesome
awesome/rc.lua=$HOME/.config/awesome/rc.lua
# gnu-linux
gnu-linux/dircolors=$HOME/.dircolors
# vimboard
vimboard/xkb=$HOME/.xkb
# vim
vim/gvimrc=$HOME/.gvimrc
vim/vim=$HOME/.vim
vim/vimrc=$HOME/.vimrc
# xorg
xorg/xinitrc=$HOME/.xinitrc
home/.xinitrc=$HOME/.xprofile
xorg/Xresources=$HOME/.Xresources
# xplanet
xplanet=$HOME/.xplanet
# zsh
zsh/functions=$HOME/.zshfunctions
zsh/zlogin=$HOME/.zlogin
zsh/zshalias=$HOME/.zshalias
zsh/zshcompsys=$HOME/.zshcompsys
zsh/zshenv=$HOME/.zshenv
zsh/zshoptions=$HOME/.zshoptions
zsh/zshparam=$HOME/.zshparam
zsh/zshprompt=$HOME/.zshprompt
zsh/zshrc=$HOME/.zshrc
zsh/zshzle=$HOME/.zshzle

[links_location]
vimboard=sys
home=root

#─────────────────────────────────────────────────────────────────
# Various sources
#─────────────────────────────────────────────────────────────────
[src]
auto-fu.zsh=https://github.com/ludovig/auto-fu.zsh.git
initializor=git@github.com:ludovig/initializor.git
vimboard=git@github.com:ludovig/vimboard.git
confz=git@github.com:ludovig/confz.git
[src_destination]
auto-fu.zsh=sys
initializor=sys
confz=sys
vimboard=sys
[src_bin]
initializor

#─────────────────────────────────────────────────────────────────
# Location of some created local zsh files
#─────────────────────────────────────────────────────────────────
[localpath]
bookmarks_file=$HOME/.zshbookmarks
paths_file=$HOME/.zshpaths
