#─────────────────────────────────────────────────────────────────
# Directories hierarchy
#─────────────────────────────────────────────────────────────────
# Directories names
[names]
mysrc=atelier
doc=bibliotheque
sex=boudoir
mydoc=bureau
sys=garage
bak=grenier
net=hall
img=galerie
medias=salon
chess=794_echecs
photos=album
videos=cinema
games=jeux
musics=musique
db=bases
etc=confz
bittorrent=torrents
emule=mule
src=sources

# Tree
[nodes]
# first level
root=bak,doc,sys,img,net,medias,mydoc,mysrc,sex
light=etc,src

# second level
net=web,p2p,mail
medias=musics,videos,games,photos
doc=chess
sys=etc,src

# third level
p2p=emule,bittorrent

# Local specific
[local]
ignore=mydoc,mysrc,sex, p2p, web, mail, etc, photos, videos, games, net
root_location=/home/armoire
group_id=2000
group_name=locaux
owner=lvigouroux

#─────────────────────────────────────────────────────────────────
# Various sources
#─────────────────────────────────────────────────────────────────
[src]
solarized=git://github.com/altercation/solarized.git
auto-fu.zsh=git://github.com/hchbaw/auto-fu.zsh.git
zsh-syntax-highlighting=git://github.com/zsh-users/zsh-syntax-highlighting.git
symfttpd=git://github.com/laurentb/symfttpd.git
symfony1=git://github.com/symfony/symfony1.git

#─────────────────────────────────────────────────────────────────
# Location of some created local zsh files
#─────────────────────────────────────────────────────────────────
[localpath]
bookmarks_file=$HOME/.zshbookmarks
paths_file=$HOME/.zshpaths
