#─────────────────────────────────────────────────────────────────
# Config
#─────────────────────────────────────────────────────────────────
[config]
repository="https://github.com/ludovig/initialyzor.git"

#─────────────────────────────────────────────────────────────────
# Share directory
#─────────────────────────────────────────────────────────────────
[share]
share_location="/home/taverne"
group_name=locaux
group_id=2000
