#─────────────────────────────────────────────────────────────────
# Directories hierarchy
#─────────────────────────────────────────────────────────────────
# Local specific
[local]
root_label=light
#root_location=/home/ludo
#ignore=doc,src,db,musics,videos,games
#root_name=maison

# Directories names
[names]
workshop=atelier
doc=bureau
img=galerie
sys=garage
bak=grenier
net=hall
medias=salon
photos=album
src=sources
etc=confz
p2p=p2p

# Tree
[nodes]
# first level
root=workshop,doc,img,sys,bak,net,medias
light=workshop,doc,sys

# second level
net=p2p
medias=photos
sys=etc,src

#─────────────────────────────────────────────────────────────────
# Links
#─────────────────────────────────────────────────────────────────
[links]
# awesome
awesome/rc.lua=$HOME/.config/awesome/rc.lua
# gnu-linux
gnu-linux/dircolors=$HOME/.dircolors
# vimboard
vimboard/xkb=$HOME/.xkb
# vim
vim/gvimrc=$HOME/.gvimrc
vim/vim=$HOME/.vim
vim/vimrc=$HOME/.vimrc
# xorg
xorg/xinitrc=$HOME/.xinitrc
home/.xinitrc=$HOME/.xprofile
xorg/Xresources=$HOME/.Xresources
# xplanet
xplanet=$HOME/.xplanet
# zsh
zsh/functions=$HOME/.zshfunctions
zsh/zlogin=$HOME/.zlogin
zsh/zshalias=$HOME/.zshalias
zsh/zshcompsys=$HOME/.zshcompsys
zsh/zshenv=$HOME/.zshenv
zsh/zshoptions=$HOME/.zshoptions
zsh/zshparam=$HOME/.zshparam
zsh/zshprompt=$HOME/.zshprompt
zsh/zshrc=$HOME/.zshrc
zsh/zshzle=$HOME/.zshzle
#git
git/gitconfig=$HOME/.gitconfig

[links_location]
vimboard=sys

#─────────────────────────────────────────────────────────────────
# Various sources
#─────────────────────────────────────────────────────────────────
[src]
auto-fu.zsh=https://github.com/ludovig/auto-fu.zsh.git
vimboard=https://github.com/ludovig/vimboard.git
confz=https://github.com/ludovig/confz.git
[src_destination]
auto-fu.zsh=sys
initializor=sys
confz=sys
vimboard=sys
[src_bin]
initializor

#─────────────────────────────────────────────────────────────────
# Location of some created local zsh files
#─────────────────────────────────────────────────────────────────
[localpath]
bookmarks_file=$HOME/.zshbookmarks
paths_file=$HOME/.zshpaths
